<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wszystkie słówka</title>
</head>
<body>
    {% if words|length == 0 %}
        <h2>PUSTO</h2>
    {% else %}
        {% for word in words %}
            <p>{{ word.eng_word }} - {{ word.pl_word }} / {{ word.category}} </p>
            <a href="{% url 'flashcards:edit_word' word.id 'edit' %}">Edytuj</a>
            <a href="{% url 'flashcards:edit_word' word.id 'delete' %}">Usuń</a>
        {% endfor %}
    {% endif %}
    <p>
        <a href="{% url 'flashcards:index' %}">Powrót</a>
        <a href="{% url 'flashcards:add_word' %}">Dodaj słówko</a>
    </p>
</body>
</html>